#bookmarkslist {
  list-style: none;
  padding-left: 0px;
}

#bookmarkslist li {
  margin-bottom: 20px;
  border-color: black;
  border-width: thin;
  border-style: solid;
  min-width: 320px;
  max-width: 400px;
}

li.tag {
  background-color: yellow;
  display: inline
}

li div.hyperlink a, li div.title {
  word-wrap: break-word;
}
