body {
  font-family: sans-serif;

}

#bookmarkslist {
  list-style: none;
  padding-left: 0px;
}

#bookmarkslist li {
  margin-bottom: 20px;
  border-color: black;
  border-width: thin;
  border-style: solid;
  min-width: 320px;
  max-width: 400px;
}

#bookmarkslist li.unsaved {
  background-color: orange;
}

div.title {
  font-weight: bold;
}

li.tag {
  background-color: yellow;
  display: inline
}

li div.hyperlink a, li div.title {
  word-wrap: break-word;
}

/*
ul.error {
  color: green;
}
*/

#errorbar li {
  margin-top: 0px;
  margin-left: 0px;
}

#feedlist {
  padding-left: 0px;

}

#feedlist li div ul {
  padding-left: 10px;
}

li {
  margin-top: 10px;
}

#errorbar {
  list-style: none;
  padding-left: 0px;
  position: fixed;
  margin-top: -21px;
}

.errormessageclosebutton {
  cursor: pointer;
}

#errorbar li {
  border: black;
  border-width: thin;
  border-style: solid;
  position: fixed;
  background-color: red;
}

li.feed div.title:before {
  content: url(feed.ico);
}

a.button {
  /*cursor: pointer;*/
  padding: 5px;
  border-style: solid;
  border-color: gray;
  border-width: thin;
  border-radius: 5px;
  background-color: lightgray;
  text-decoration: none;
  color: black;

  display: block;
  float: left;
}

div.clear-block {
/*  display: block;*/
  overflow: hidden;
  width: 100%;
}

a.button:hover {
  background-color: gray;
}

a.button img {
}
